<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'unsafe-inline' file:; style-src 'unsafe-inline' file:; font-src file:"/>
  <link rel="stylesheet" href="../../extensions/global.css">
  <link rel="stylesheet" href="../../extensions/fontawesome/css/all.min.css">
  <script defer src="../../extensions/global.js"></script>
  <title>interactivePreview</title>
</head>
<body>
  <div class="mainApp">
    <header class="topBar drag">
      <div class="clearDiv" style="align-items: center;">
        <img class="appIcon drag" style="margin-right: 8px;" src="../../assets/icons/icon.svg"></img>
        <span class="drag">Preview</span>
      </div>
      <div class="clearDiv">
        <div class="titleBarButtons" style="height: 30px;">
          <button class="windowControlButton ipcMinimize"><i class="fa-solid fa-minus"></i></button>
          <button class="windowControlButton ipcMaximize"><i class="fa-regular fa-square"></i></button>
          <button class="windowControlButton ipcClose"><i class="fa-regular fa-x"></i></button>
        </div>
      </div>
    </header>
  </div>
</body>
</html>