<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'unsafe-inline' file:; style-src 'unsafe-inline' file:; font-src file:"/>
  <link rel="stylesheet" href="../../extensions/global.css">
  <script defer src="../../extensions/global.js"></script>
  <title>interactivePreview</title>
  <style>
    body {
      background-color: #36384d;
      color: white;
      font-weight: 700;
      font-size: large;
      margin: 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h1 {
      margin: 0;
    }

    span {
      font-weight: 700;
      font-size: large;
    }
  </style>
</head>
<body>
  <div>
    <h1>Hi there!</h1>
    <span>You're using the interactive "Virtual Browser Preview" plugin.</span>
  </div>
</body>
</html>