<!DOCTYPE html>
<html lang="en">
  <head>
    <title>mainApp</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data:; script-src 'unsafe-inline' file:; style-src 'unsafe-inline' file:; font-src file:"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../extensions/global.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../extensions/fontawesome/css/all.min.css">
    <script type="module" src="../../../node_modules/@vanillawc/wc-monaco-editor/index.js"></script>
    <script defer charset="utf-8" src="./script.js"></script>
  </head>
  <body>
    <div class="mainApp">
      <header class="topBar drag">
        <div class="clearDiv">
          <img class="appIcon drag" style="margin-right: 8px;" src="../../assets/icons/icon.svg"></img>
          <div class="menuStrip drag" id="mainMenuStrip"></div>
        </div>
        <div class="fileManageDiv drag">
          <div class="autoSaveDiv">
            <label for="autoSave">Auto-Save</label>
            <input type="checkbox" class="switch" name="autoSave" id="autoSave" onchange="simpleEdit.file.autoSave.setStatus(this.checked);">
          </div>
          <div class="verticalDelimiter drag"></div>
          <div class="menuDropdown">
            <span class="menuDropdownTitle fileName">{fileName}</span>
            <div class="menuDropdownContent">
              <input type="text" name="" id="">
            </div>
          </div>
        </div>
        <div class="clearDiv">
          <div class="titleBarButtons" style="height: 30px;">
            <button class="windowControlButton ipcMinimize"><i class="fa-solid fa-minus"></i></button>
            <button class="windowControlButton ipcMaximize"><i class="fa-regular fa-square"></i></button>
            <button class="windowControlButton ipcClose"><i class="fa-regular fa-x"></i></button>
          </div>
        </div>
      </header>
      <main>
        <div id="mainEditor"></div>
      </main>
      <footer class="bottomBar">
        <div id="languageDiv">
          <select class="langData search">
            <option>{langData}</option>
          </select>
          <i class="docsIcon fa-solid fa-book"></i>
          <i class="learnIcon fa-solid fa-graduation-cap"></i>
        </div>
        <div id="documentControlDiv">
          <button class="lineData" title="Goto Line">{lineData}</button>
          <button class="spaceData" title="Change Spacing">{spaceData}</button>
          <span class="encodingData">UTF-8</span>
          <button class="eolData" title="Change End of Line Sequence">{eolData}</button>
        </div>
      </footer>
    </div>
  </body>
</html>