<!DOCTYPE html>
<html lang="de">
  <head>
    <title>mainApp</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../extensions/fontawesome/css/all.min.css">
    <script type="module" src="../../../node_modules/@vanillawc/wc-monaco-editor/index.js"></script>
    <script defer src="./script.js"></script>
    <script src="../../extensions/external-html.js"></script>
  </head>
  <body>
    <div class="mainApp">
      <header class="topBar drag">
        <div class="clearDiv">
          <img class="appIcon drag" style="margin-right: 8px;" src="../../assets/icons/icon.svg"></img>
          <div class="menuStrip drag">
            <div class="menuDropdown">
              <span class="menuDropdownTitle">File</span>
              <div class="menuDropdownContent">
                <span>Open File</span>
                <span>New File</span>
                <span class="ipcClose">Exit simpleEdit</span>
              </div>
            </div>
            <div class="menuDropdown">
              <span class="menuDropdownTitle">Edit</span>
              <div class="menuDropdownContent">
                <span onclick="$('.search').focus();">Change Language</span>
              </div>
            </div>
            <div class="menuDropdown">
              <span class="menuDropdownTitle">Help</span>
              <div class="menuDropdownContent">
                <span class="ipcDevTools">Open Developer Tools</span>
                <span onclick="location.reload();">Reload</span>
                <span>About simpleEdit</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearDiv searchDiv">
          <i class="searchIcon fa-solid fa-language"></i>
          <select class="search">
            <option value="text" selected>Plain Text</option>
          </select>
          <i class="searchIcon docsIcon fa-solid fa-book"></i>
          <i class="searchIcon learnIcon fa-solid fa-graduation-cap"></i>
          <!--<input class="search" type="text" placeholder="Suchen (CTRL + F)" list="languages">-->
        </div>
        <div class="clearDiv">
          <div class="titleBarButtons" style="height: 30px;">
            <button class="windowControlButton ipcMinimize"><i class="fa-solid fa-minus"></i></button>
            <button class="windowControlButton ipcMaximize"><i class="fa-regular fa-square"></i></button>
            <button class="windowControlButton ipcClose"><i class="fa-regular fa-x"></i></button>
          </div>
        </div>
      </header>
      <main style="width: 100%; height: 100%;">
        <div id="mainEditor" style="width: 100%; height: 100%;"></div>
      </main>
      <footer class="bottomBar">
        <div id="languageDiv" style="height: 100%;">
          <select class="langData">
            <option>{langData}</option>
          </select>
          <i class="docsIcon fa-solid fa-book"></i>
          <i class="learnIcon fa-solid fa-graduation-cap"></i>
        </div>
        <div id="documentControlDiv">
          <select class="lineData">
            <option>{lineData}</option>
          </select>
          <select class="spaceData">
            <option>{spaceData}</option>
          </select>
          <select class="encodingData">
            <option>{encodingData}</option>
          </select>
          <select class="eolData">
            <option>{eolData}</option>
          </select>
        </div>
      </footer>
    </div>
  </body>
</html>