.menuDropdownContent{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2c2e38;
  min-width: 160px;
  z-index: 99;
  border: 1px solid black;
  border-radius: 5px;
}

.menuDropdownContent span{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
  border-radius: 5px;
}

.menuDropdownContent span:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.docsIcon, .learnIcon{
  display: none;
}

.bottomBar{
  height: 30px;
  font-size: 10pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 2.5px 9px;
  background: rgba(27, 29, 35, 0.8);
  color: #BABFC8;
}

.bottomBar i .fa-solid{
  font-weight: 700;
}

.bottomBar select{
  color: inherit;
  background: none;
  outline: none;
  border: none;
  height: 100%;
  appearance: none;
  padding: 5px;
  border-radius: 5px;
}

.bottomBar select option{
  color: inherit;
  background-color: #1f232a;
}

.bottomBar select option:checked{
  background-color: #2d323b;
}

.bottomBar select::-webkit-scrollbar { 
  display: none;
}

.bottomBar select:hover, .bottomBar select:active{
  background-color: rgba(255, 255, 255, 0.1);
}

.bottomBar div{
  height: 100%;
}

.fileManageDiv{
  display: flex;
  flex-direction: row;
}

.verticalDelimiter{
  width: 0px;
  border: 1px solid #BABFC8;
  margin: 0 10px;
}

.autoSaveDiv{
  display: flex;
  align-items: center;
}

.switch{
  appearance: none;
  position: relative;
  width: 30px;
  height: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
}

.switch:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.switch:checked{
  background-color: #548bc0;
}

.switch:checked:hover{
  background-color: #3d6b96;
}

.switch::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: white;
}

.switch:checked::after{
  left: 70%;
}

@media screen and (max-width: 600px) {
  .appIcon{
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .fileManageDiv .autoSaveDiv, .fileManageDiv .verticalDelimiter{
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .menuStrip{
    display: none;
  }
}

@media screen and (max-width: 200px) {
  .fileName, .bottomBar, .mainEditor{
    display: none;
  }
  .mainApp::after{
    content: "Please resize the window to continue.";
  }
}