body{
  color: white;
}

.menuDropdownContent{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2c2e38;
  z-index: 99;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 80vw;
  max-height: 60vh;
  overflow: auto;
}

.menuDropdownContent::-webkit-scrollbar{
  width: 15px;
}

.menuDropdownContent::-webkit-scrollbar-track{
  background: transparent;
}

.menuDropdownContent::-webkit-scrollbar-thumb{
  background-color: #5a5e71;
  border-radius: 10px;
  border: 5px solid #2c2e38;
}

.menuDropdownContent::-webkit-scrollbar-thumb:hover{
  background-color: #73788f;
}

.menuDropdownContent .menuDropdownButton{
  float: none;
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: white;
  border-radius: 5px;
  gap: 20px;
}

.menuDropdownContent .menuDropdownButton span{
  word-wrap: break-word;
}

.menuDropdownContent .menuDropdownButton:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.menuDropdownContent .menuDropdownButton .keyShortcut{
  min-width: fit-content;
}

.keyShortcut{
  font-size: 10px;
  background-color: #343743;
  border: 2px solid #62687c;
  border-radius: 10px;
  padding: 3px 5px;
}

.docsIcon, .learnIcon{
  display: none;
}

.bottomBar{
  height: 35px;
  font-size: 10pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 2.5px 9px;
  background: rgba(27, 29, 35, 0.8);
  color: #BABFC8;
  box-sizing: border-box;
  gap: 5px;
}

.bottomBar i .fa-solid{
  font-weight: 700;
}

.bottomBar span{
  padding: 5px;
}

.bottomBar button{
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 5px;
  border-radius: 5px;
}

.bottomBar button:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.bottomBar div{
  height: 100%;
  display: flex;
  align-items: center;
}

.fileManageDiv{
  display: flex;
  flex-direction: row;
}

.verticalDelimiter{
  width: 0px;
  border: 1px solid #BABFC8;
  margin: 0 10px;
}

.autoSaveDiv{
  display: flex;
  align-items: center;
}

.switch{
  appearance: none;
  position: relative;
  width: 30px;
  height: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
}

.switch:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.switch:checked{
  background-color: #548bc0;
}

.switch:checked:hover{
  background-color: #3d6b96;
}

.switch::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: white;
}

.switch:checked::after{
  left: 70%;
}

@media screen and (max-width: 600px) {
  .appIcon{
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .fileManageDiv .autoSaveDiv, .fileManageDiv .verticalDelimiter{
    display: none;
  }

  .bottomBar .lineData{
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .spaceData{
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .menuStrip{
    display: none;
  }
}

@media screen and (max-width: 200px) {
  .fileName, .bottomBar, .mainEditor{
    display: none;
  }
  .mainApp::after{
    content: "Please resize the window to continue.";
  }
}

main{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#mainEditor{
  width: 100%;
  height: 100%;
}

#mainPreview{
  width: 100%;
  height: calc(25% + 22px);
  background-color: #181e2a;
  user-select: none;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #5f6c85;
}

/* #resizePreview{
  width: 100%;
  height: 3px;
  margin: 1px 0;
  background-color: #6f7d99;
}

#resizePreview:hover{
  height: 5px;
  margin: 0;
  background-color: #436cb8;
  cursor: n-resize;
} */